@charset "utf-8";

.text-fade-in{
    animation-name:text-fade-in-ani;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-iteration-count:1;
}

@keyframes text-fade-in-ani
{
	0%   {opacity: 0%;}
	100% {opacity: 100%;}
}

.text-fade-out{
    animation-name:text-fade-out-ani;
	animation-duration:1.5s;
	animation-timing-function:linear;
	animation-iteration-count:1;
}

@keyframes text-fade-out-ani
{
	0%   {opacity: 100%;}
	100% {opacity: 0%;}
}